.section {
  margin-top: 5rem;
  background: linear-gradient(
      191deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    linear-gradient(
      166deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    var(--ifm-color-primary-lighter);

  padding-bottom: 4rem;

  color: black;

  clip-path: polygon(
    100% 10%,
    86% 13%,
    68% 20%,
    55% 20%,
    37% 30%,
    22% 28%,
    7% 28%,
    0% 41%,
    0% 100%,
    100% 100%
  );
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 1rem;
}

.stockline {
  width: 100%;
  height: 23vh;
  stroke: var(--ifm-color-strokeline);
}

/* ----------------------------------------------------- */

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerSteps {
  /* background: red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerStep {
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerStepActive {
  opacity: 1;
  cursor: pointer;
}

.headerStepInactive {
  opacity: 0.5;
}

.headerStepNum {
  background: linear-gradient(
      191deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    linear-gradient(
      166deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    var(--ifm-color-primary-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 1.125em;
  font-weight: bold;
  text-shadow: 0px 0px 8px var(--ifm-inverse-color-text);
}

.headerStepTitle {
  font-weight: bold;
  font-style: italic;
}

.headerProgressContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 1rem;
  overflow: hidden;
  height: 0.5rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 2s linear;
}

.headerProgress {
  height: 100%;
  background: linear-gradient(
    to left,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-secondary)
  );
  width: 0%;
  transition: all 2s linear;
  border-radius: 1rem;
}

@media (max-width: 800px) {
  .headerSteps {
    flex-direction: column;
  }
  .headerStep {
    margin-bottom: 1rem;
  }
}

@media (max-width: 935px) {
  .section {
    clip-path: polygon(
    100% 0%,

    100% 100%
  );
  }
}

.content {
  /* background: purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.contentStep1 {
  /* background: green; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contentStep1Broker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 10rem;
  height: 5rem;
  margin: 1%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgb(109, 109, 109);
}

.contentStep1BrokerInactive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  color: white;
  text-shadow: 1px 1px 8px black;
}

.contentStep1BrokerActive:hover {
  border-color: var(--ifm-color-secondary);
  box-shadow: 0px 0px 10px var(--ifm-color-secondary);
  border-width: 0.2rem;
  border-style: solid;
  cursor: pointer;
}

.declarationDownloadButton {
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  color: white;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-lighter);
}

.declarationDownloadButton p {
  margin: 0;
  height: 100%;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.declarationDownloadButton:hover {
  opacity: 0.8;
}

.contentStep3 {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: auto;
}

.contentStep3Title {
  background: var(--ifm-color-primary-lighter);
  width: 100%;
  margin: 0;
  text-align: center;
  /* color: var(--ifm-color-primary-lighter); */
  color: var(--ifm-color-text);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contentStep3Table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-color: rgba(0, 0, 0, 0);
}

.contentStep3TableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ifm-color-secondary);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: var(--ifm-color-text);
  text-align: center;
}

.contentStep3TableHeader div {
  width: calc(100% / 12);
}

.contentStep3TableBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.contentStep3TableBody > div:nth-child(odd) {
  background: rgb(231, 231, 231);
}

.contentStep3TableBody > div:nth-child(even) {
  background: white;
}

.contentStep3TableBodyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
}

.contentStep3TableBodyRow div {
  width: calc(100% / 12);
}

.collapsible {
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: var(--ifm-color-text);
}

.yearSection {
  background: linear-gradient(
    to bottom,
    var(--ifm-color-secondary),
    var(--ifm-color-primary-lighter)
  );
}

.contentStep3Year {
  margin-bottom: 1rem;
  width: 100%;
}

.collapsibleContent {
  overflow: hidden;
  max-height: 0;
  width: 100%;
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Fiscal Year Card CSS */

.threedots {
  color: var(--ifm-color-text);
  fill: var(--ifm-color-text);
  cursor: pointer;
}

.threedots:hover {
  color: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

.fiscalCard {
  background-color: inherit;
  border: 1px solid var(--ifm-color-secondary);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0px 10px var(--ifm-color-secondary);
  width: 100%;
  margin: 1rem;
}

.fiscalCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ifm-color-secondary);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.fiscalCardTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  stroke: var(--ifm-color-secondary);
}

.fiscalCardTitle > * {
  margin: 0;
}

.fiscalCardButton {
  background-color: var(--ifm-color-primary);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fiscalCardButton:hover {
  background-color: var(--ifm-color-secondary);
}

.fiscalCardTabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.fiscalCardTabs button {
  background: none;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: inherit;
  transition: border 0.2s ease-in-out;
}

.fiscalCardTabs button.fiscalCardTabActive {
  /* border-color: var(--ifm-color-primary); */
  /* background-color: var(--ifm-color-primary); */
  color: var(--ifm-color-secondary);
  border-bottom: 3px solid var(--ifm-color-secondary);
}

.fiscalCardTabActive {
}

.fiscalCardTable {
  width: 100%;
  border-collapse: collapse;
  background-color: inherit;
  overflow: auto;
  max-height: 400px;
  position: relative;
}

.fiscalCardTable thead > * {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--ifm-color-secondary-darker);
}

.fiscalCardTable th,
.fiscalCardTable td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.fiscalCardTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.fiscalCardActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fiscalCardAction {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--ifm-color-secondary);
  fill: var(--ifm-color-secondary);
  cursor: pointer;
  border: none;
  white-space: nowrap;
  transition: all 0.2s ease;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.fiscalCardAction > :first-child {
  margin-right: 0.5rem;
}

.fiscalCardAction:hover {
  border: 1px solid var(--ifm-color-secondary);
  background-color: var(--ifm-color-secondary);
  color: white;
  fill: white;
}

.fiscalCardActionsDropdown {
  position: relative;
  display: none;
}

.fiscalCardActionsDropdownContent {
  display: none;
  box-shadow: 1px 1px 10px var(--ifm-color-secondary);
  border: 0px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--ifm-inverse-color-text);
}

.fiscalCardActionsDropdown:hover > .fiscalCardActionsDropdownContent {
  display: block;
  position: absolute;
  left: -150px;
}

.fiscalCardMenu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 720px) {
  .fiscalCardActions {
    display: none;
  }
  .fiscalCardActionsDropdown {
    display: block;
  }
}

.dialogIRSDeclaration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.dialogIRSDeclarationClose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.dialogIRSDeclarationClose:hover {
  color: red;
}

.dialogIRSDeclarationCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-secondary)
  );
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px var(--ifm-color-text);
  color: black;
  z-index: 100;
}

.dialogIRSDeclarationHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid black;
}

.dialogIRSDeclarationTitle {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.dialogIRSDeclarationSubtitle {
  font-size: 1rem;
  font-weight: normal;
}

.dialogIRSDeclarationContent {
  padding: 1rem;
}
