.section {
  margin-top: 5rem;
  background: linear-gradient(
      191deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    linear-gradient(
      166deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    var(--ifm-color-primary-lighter);

  padding-bottom: 4rem;

  color: black;

  clip-path: polygon(
    100% 10%,
    86% 13%,
    68% 20%,
    55% 20%,
    37% 30%,
    22% 28%,
    7% 28%,
    0% 41%,
    0% 100%,
    100% 100%
  );
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 1rem;
}

.stockline {
  width: 100%;
  height: 23vh;
  stroke: var(--ifm-color-strokeline);
}

/* ----------------------------------------------------- */

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerSteps {
  /* background: red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.headerStep {
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerStepActive {
  opacity: 1;
}

.headerStepInactive {
  opacity: 0.5;
}

.headerStepNum {
  background: linear-gradient(
      191deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    linear-gradient(
      166deg,
      rgba(43, 200, 169, 0) 53%,
      var(--ifm-color-secondary) 89%
    ),
    var(--ifm-color-primary-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 1.125em;
  font-weight: bold;
  text-shadow: 0px 0px 8px black;
}

.headerStepTitle {
  font-weight: bold;
  font-style: italic;
}

.headerProgressContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 1rem;
  overflow: hidden;
  height: 0.5rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 2s linear;
}

.headerProgress {
  height: 100%;
  background: linear-gradient(
      to left,
      var(--ifm-color-primary-lighter),
      var(--ifm-color-secondary) 
    );
  width: 0%;
  transition: all 2s linear;
  border-radius: 1rem;
}

@media (max-width: 800px) {
  .headerSteps {
    flex-direction: column;
  }
}


.content {
  /* background: purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.contentStep1 {
  /* background: green; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contentStep1Broker {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 10rem;
  height: 5rem;
  margin: 1%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgb(109, 109, 109);
  cursor: pointer;
}

.contentStep1Broker:hover {
  border-color: var(--ifm-color-secondary);
  box-shadow: 0px 0px 10px var(--ifm-color-secondary);
  border-width: 0.2rem;
  border-style: solid;
}

.contentStep2 {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4rem;
  border-style: dashed;
  border-width: 0.2rem;
  border-color: var(--ifm-text-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.contentStep2UploadIcon {
  
  width: 3rem;
  height: auto;
}

.contentStep2UploadInput {
  position: absolute;
  /* background: purple; */
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.contentStep2Files {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentStep2File {
  width: 100%;
  background: rgb(201, 201, 201);
  color: black;
  font-style: italic;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  word-wrap: break-word;
  z-index: 1;
  cursor: default;
}

.contentStep2FileName {
  max-width: 100%;
  word-wrap: break-word;
}

.contentStep2FileRemove:hover {
  color: red;
  cursor: pointer;
}

.contentStep2Process {
  background: linear-gradient(
    to right,
    var(--ifm-color-secondary) 53%,
    var(--ifm-color-primary-lighter) 89%
  );
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row wrap;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 1;
}

.contentStep2Process:hover {
  border-color: var(--ifm-color-secondary);
  box-shadow: 0px 0px 10px var(--ifm-color-secondary);
  border-width: 0.2rem;
  border-style: none;
}

.contentStep2ProcessText {
  margin-right: 0.5rem;
}